@model EwidencjaWSK.Models.AdditionalDoc

@{
    ViewData["Title"] = "Szczegóły dokumentu";
}

    <h1>Szczegóły dokumentu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KindOfDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KindOfDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdditionalDocId">Edycja</a> |
    <a asp-action="Index">Powrót do listy dokumentów</a>
</div>
