@model EwidencjaWSK.Models.Part

@{
    ViewData["Title"] = "Szczegóły części";
}

    <h1>Szczegóły części</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInArmedList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInArmedList)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PartId">Edycja</a> |
    <a asp-action="Index">Powrót do listy części</a>
</div>
