@model IEnumerable<EwidencjaWSK.Models.Supplier>

@{
    ViewData["Title"] = "Wszyscy dostawcy";
}

    <h1>Wszyscy dostawcy</h1>

<p>
    <a asp-action="Create">Dodaj nowego dostawcę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierId">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
