@*@model EwidencjaWSK.Models.Record*@
@model EwidencjaWSK.ViewModel.RecordViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.KindOfTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.KindOfTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.IsCheckDenyList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.IsCheckDenyList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.IsCheckWarningSignalList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.IsCheckWarningSignalList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.IsInPartsBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.IsInPartsBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.IsNecessaryMinistryPermit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.IsNecessaryMinistryPermit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Supplier)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Record.Supplier.SupplierId)*@
            @{
                var supplierName = (from supplier in Model.Suppliers
                                    where supplier.SupplierId == Model.Record.SuplierId
                                    select supplier.Name).First().ToString();
                @Html.Raw(supplierName);
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Record.RecordId">Edycja</a> |
    <a asp-action="Index">Back to List</a>
</div>
